In [1]:
import pandas as pd
import numpy as np

In [2]:
netflix = pd.read_csv('netflix_titles.csv')

In [3]:
netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [5]:
netflix.sample(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
3245,s3246,Movie,Jupiter Ascending,"Lana Wachowski, Lilly Wachowski","Mila Kunis, Channing Tatum, Sean Bean, Eddie R...","United States, Australia","August 1, 2019",2015,PG-13,128 min,"Action & Adventure, Sci-Fi & Fantasy",A young impoverished woman learns she's been p...
4878,s4879,Movie,Planetarium,Rebecca Zlotowski,"Natalie Portman, Lily-Rose Depp, Emmanuel Sali...","France, Belgium","January 1, 2018",2016,TV-MA,108 min,"Dramas, International Movies","In pre-World War II France, two sisters purpor..."
1030,s1031,Movie,Bolt,"Byron Howard, Chris Williams","John Travolta, Miley Cyrus, Susie Essman, Mark...",United States,"July 22, 2018",2008,PG,99 min,"Children & Family Movies, Comedies","This tale follows German shepherd Bolt, a cani..."
6270,s6271,Movie,The Darkness,Greg McLean,"Kevin Bacon, Radha Mitchell, David Mazouz, Luc...",United States,"June 16, 2020",2016,PG-13,92 min,"Horror Movies, Thrillers",After bringing home a set of mysterious stones...
1282,s1283,TV Show,Charlie's Colorforms City,NaN,"Jacob Soley, Saara Chaudry, Tyler Barish, Zoe ...",United States,"March 22, 2019",2019,TV-Y,1 Season,Kids' TV,Charlie creates fun stories using different sh...
3931,s3932,TV Show,Marcella,NaN,"Anna Friel, Nicholas Pinnock, Sinéad Cusack, N...",United Kingdom,"June 14, 2020",2019,TV-MA,3 Seasons,"British TV Shows, Crime TV Shows, Internationa...",Her marriage just ended and she's returning to...
3984,s3985,Movie,Master,Ui-seok Jo,"Byung-hun Lee, Dong-won Gang, Woo-bin Kim, Ji-...",South Korea,"February 1, 2018",2016,NR,143 min,"Action & Adventure, International Movies",Needing hard evidence to convict a company cha...
4423,s4424,Movie,National Parks Adventure,Greg MacGillivray,Robert Redford,United States,"February 1, 2018",2016,TV-G,42 min,Documentaries,"Narrated by Robert Redford, this documentary t..."
1794,s1795,TV Show,Documentary Now!,NaN,"Fred Armisen, Bill Hader, Helen Mirren",United States,"June 3, 2019",2019,TV-14,3 Seasons,TV Comedies,"Elevating the art of parody, this sharply comi..."
7185,s7186,Movie,Tramps,Adam Leon,"Callum Turner, Grace Van Patten, Michal Vondel...",United States,"April 21, 2017",2017,TV-MA,83 min,"Dramas, Independent Movies, Romantic Movies",Pulled into a shady briefcase swap for differe...

In [6]:
netflix.shape

(7787, 12)

In [7]:
ipl = pd.read_csv('IPL Matches.csv')

In [8]:
ipl.head()

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan

In [9]:
ipl.columns

Index(['id', 'city', 'date', 'player_of_match', 'venue', 'neutral_venue',
       'team1', 'team2', 'toss_winner', 'toss_decision', 'winner', 'result',
       'result_margin', 'eliminator', 'method', 'umpire1', 'umpire2'],
      dtype='object')

In [10]:
netflix.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [11]:
ipl.shape

(816, 17)

In [12]:
ipl['result_margin']>100

0       True
1      False
2      False
3      False
4      False
       ...
811    False
812    False
813    False
814    False
815    False
Name: result_margin, Length: 816, dtype: bool

In [14]:
importantmatches = ipl[ipl['result_margin']>100]

In [15]:
importantmatches

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
55,336038,Mumbai,2008-05-30,SR Watson,Wankhede Stadium,0,Delhi Daredevils,Rajasthan Royals,Delhi Daredevils,field,Rajasthan Royals,runs,105.0,N,NaN,BF Bowden,RE Koertzen
236,501260,Dharamsala,2011-05-17,AC Gilchrist,Himachal Pradesh Cricket Association Stadium,0,Kings XI Punjab,Royal Challengers Bangalore,Kings XI Punjab,bat,Kings XI Punjab,runs,111.0,N,NaN,Asad Rauf,AM Saheba
351,598027,Bangalore,2013-04-23,CH Gayle,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Pune Warriors,Pune Warriors,field,Royal Challengers Bangalore,runs,130.0,N,NaN,Aleem Dar,C Shamshuddin
497,829785,Bangalore,2015-05-06,CH Gayle,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,field,Royal Challengers Bangalore,runs,138.0,N,NaN,RK Illingworth,VA Kulkarni
560,980987,Bangalore,2016-05-14,AB de Villiers,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Gujarat Lions,Gujarat Lions,field,Royal Challengers Bangalore,runs,144.0,N,NaN,AY Dandekar,VK Sharma
620,1082635,Delhi,2017-05-06,LMP Simmons,Feroz Shah Kotla,0,Delhi Daredevils,Mumbai Indians,Delhi Daredevils,field,Mumbai Indians,runs,146.0,N,NaN,Nitin Menon,CK Nandan
676,1136601,Kolkata,2018-05-09,Ishan Kishan,Eden Gardens,0,Kolkata Knight Riders,Mumbai Indians,Kolkata Knight Riders,field,Mumbai Indians,runs,102.0,N,NaN,KN Ananthapadmanabhan,AK Chaudhary
706,1175366,Hyderabad,2019-03-31,JM Bairstow,"Rajiv Gandhi International Stadium, Uppal",0,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,Sunrisers Hyderabad,runs,118.0,N,NaN,KN Ananthapadmanabhan,S Ravi

In [16]:
importantmatches.shape

(9, 17)

In [17]:
importantmatches.columns

Index(['id', 'city', 'date', 'player_of_match', 'venue', 'neutral_venue',
       'team1', 'team2', 'toss_winner', 'toss_decision', 'winner', 'result',
       'result_margin', 'eliminator', 'method', 'umpire1', 'umpire2'],
      dtype='object')

In [31]:
importantmatches.set_index(pd.RangeIndex(0,9), inplace=True)
importantmatches

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,336038,Mumbai,2008-05-30,SR Watson,Wankhede Stadium,0,Delhi Daredevils,Rajasthan Royals,Delhi Daredevils,field,Rajasthan Royals,runs,105.0,N,NaN,BF Bowden,RE Koertzen
2,501260,Dharamsala,2011-05-17,AC Gilchrist,Himachal Pradesh Cricket Association Stadium,0,Kings XI Punjab,Royal Challengers Bangalore,Kings XI Punjab,bat,Kings XI Punjab,runs,111.0,N,NaN,Asad Rauf,AM Saheba
3,598027,Bangalore,2013-04-23,CH Gayle,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Pune Warriors,Pune Warriors,field,Royal Challengers Bangalore,runs,130.0,N,NaN,Aleem Dar,C Shamshuddin
4,829785,Bangalore,2015-05-06,CH Gayle,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,field,Royal Challengers Bangalore,runs,138.0,N,NaN,RK Illingworth,VA Kulkarni
5,980987,Bangalore,2016-05-14,AB de Villiers,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Gujarat Lions,Gujarat Lions,field,Royal Challengers Bangalore,runs,144.0,N,NaN,AY Dandekar,VK Sharma
6,1082635,Delhi,2017-05-06,LMP Simmons,Feroz Shah Kotla,0,Delhi Daredevils,Mumbai Indians,Delhi Daredevils,field,Mumbai Indians,runs,146.0,N,NaN,Nitin Menon,CK Nandan
7,1136601,Kolkata,2018-05-09,Ishan Kishan,Eden Gardens,0,Kolkata Knight Riders,Mumbai Indians,Kolkata Knight Riders,field,Mumbai Indians,runs,102.0,N,NaN,KN Ananthapadmanabhan,AK Chaudhary
8,1175366,Hyderabad,2019-03-31,JM Bairstow,"Rajiv Gandhi International Stadium, Uppal",0,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,Sunrisers Hyderabad,runs,118.0,N,NaN,KN Ananthapadmanabhan,S Ravi

In [27]:
final = importantmatches[['id','date','player_of_match','team1','team2']]

In [28]:
final

,id,date,player_of_match,team1,team2
0,335982,2008-04-18,BB McCullum,Royal Challengers Bangalore,Kolkata Knight Riders
1,336038,2008-05-30,SR Watson,Delhi Daredevils,Rajasthan Royals
2,501260,2011-05-17,AC Gilchrist,Kings XI Punjab,Royal Challengers Bangalore
3,598027,2013-04-23,CH Gayle,Royal Challengers Bangalore,Pune Warriors
4,829785,2015-05-06,CH Gayle,Royal Challengers Bangalore,Kings XI Punjab
5,980987,2016-05-14,AB de Villiers,Royal Challengers Bangalore,Gujarat Lions
6,1082635,2017-05-06,LMP Simmons,Delhi Daredevils,Mumbai Indians
7,1136601,2018-05-09,Ishan Kishan,Kolkata Knight Riders,Mumbai Indians
8,1175366,2019-03-31,JM Bairstow,Sunrisers Hyderabad,Royal Challengers Bangalore

In [29]:
final.shape

(9, 5)

In [30]:
final.to_csv('Important Matches.csv')

In [33]:
netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [34]:
netflix[(netflix['release_year']==2020) & (netflix['country']=='India')]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
244,s245,Movie,A truthful Mother,Ravishankar Venkateswaran,"Revathi, Roger Narayanan, Sneha Ravishankar, V...",India,"March 31, 2020",2020,TV-Y7,85 min,Children & Family Movies,"Facing a drought, a hungry tiger and a noble c..."
362,s363,Movie,AK vs AK,Vikramaditya Motwane,"Anil Kapoor, Anurag Kashyap",India,"December 25, 2020",2020,TV-MA,109 min,"Comedies, Dramas, International Movies","After a public spat with a movie star, a disgr..."
368,s369,Movie,Ala Vaikunthapurramuloo,Trivikram Srinivas,"Allu Arjun, Pooja Hegde, Tabu, Sushanth, Nivet...",India,"February 27, 2020",2020,TV-14,162 min,"Action & Adventure, Comedies, Dramas",After growing up enduring criticism from his f...
510,s511,Movie,Andhakaaram,V Vignarajan,"Vinoth Kishan, Arjun Das, Pooja Ramachandran, ...",India,"November 24, 2020",2020,TV-14,171 min,"Horror Movies, International Movies, Thrillers","As a blind librarian, dispirited cricketer and..."
605,s606,Movie,Asura Guru,A. Raajdheep,"Vikram Prabhu, Subbaraju, Mahima Nambiar, Yogi...",India,"June 13, 2020",2020,TV-14,117 min,"Dramas, International Movies","For a tech-savvy thief, elaborate robberies an..."
...,...,...,...,...,...,...,...,...,...,...,...,...
7429,s7430,Movie,Vir Das: Outside In - The Lockdown Special,Vir Das,Vir Das,India,"December 16, 2020",2020,TV-MA,50 min,Stand-Up Comedy,Stage banter takes on a different — deeper — m...
7547,s7548,Movie,What Are the Odds?,Megha Ramaswamy,"Yashaswini Dayama, Karanvir Malhotra, Abhay De...",India,"May 20, 2020",2020,TV-MA,92 min,"Comedies, Dramas, Independent Movies",When two unlikely friends play hooky from scho...
7665,s7666,Movie,World Famous Lover,Kranthi Madhav,"Vijay Deverakonda, Raashi Khanna, Aishwarya Ra...",India,"April 15, 2020",2020,TV-MA,147 min,"Dramas, International Movies, Romantic Movies",When his frustrated girlfriend decides to leav...
7701,s7702,Movie,Yeh Ballet,Sooni Taraporevala,"Julian Sands, Manish Chauhan, Achintya Bose, J...",India,"February 21, 2020",2020,TV-MA,117 min,"Dramas, International Movies","Discovered by an eccentric ballet master, two ..."
7744,s7745,Movie,"Yours Sincerely, Kanan Gill",Neville Shah,Kanan Gill,India,"April 24, 2020",2020,TV-MA,72 min,Stand-Up Comedy,Revisiting life goals set in a letter written ...