**Import pandas**

In [1]:
import pandas as pd

**Read the data from Salaries.csv and store it in a dataframe**

In [2]:
sal = pd.read_csv('Salaries.csv')

**Check if the dataframe is properly read or not**

In [3]:
sal.sample(10)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
127883,127884,Lawrence Roberson,Automotive Service Worker,59405.08,11174.74,8471.19,27823.77,79051.01,106874.78,2014,NaN,San Francisco,NaN
4619,4620,MIGUEL HERRERA,SENIOR CONSTRUCTION INSPECTOR,99961.00,27042.90,0.00,NaN,127003.90,127003.90,2011,NaN,San Francisco,NaN
51296,51297,Amelia Cruz,Psychiatric Technician,69253.57,3144.90,6722.25,34105.16,79120.72,113225.88,2012,NaN,San Francisco,NaN
74386,74387,Tina M Seibert,EMT/Paramedic/Firefighter,133915.65,30844.09,16500.41,44845.57,181260.15,226105.72,2013,NaN,San Francisco,NaN
99246,99247,Georgia M Jackson,Health Worker 1,47272.50,0.00,0.00,22089.36,47272.50,69361.86,2013,NaN,San Francisco,NaN
47483,47484,William Frazier,Health Program Coordinator 3,92820.00,0.00,0.00,37485.34,92820.00,130305.34,2012,NaN,San Francisco,NaN
100326,100327,Xiaoming Zhang,PS Aide to Prof,39384.05,0.00,0.00,18436.64,39384.05,57820.69,2013,NaN,San Francisco,NaN
73391,73392,Ryan M Toby,Firefighter,116956.69,81448.79,19776.25,41406.59,218181.73,259588.32,2013,NaN,San Francisco,NaN
83204,83205,Gene Villaflores,IS Engineer-Senior,102076.40,0.00,651.76,35107.77,102728.16,137835.93,2013,NaN,San Francisco,NaN
105681,105682,Sean Elsbernd,"Member, Board of Supervisors",8742.48,0.00,0.00,2383.07,8742.48,11125.55,2013,NaN,San Francisco,NaN

**What columns exist in this dataframe?**

In [4]:
sal.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

**How many rows does this dataframe have?**

In [6]:
sal.shape[0]

148654

**Display the information about the dataframe. Which of these columns have missing values in them?**

In [7]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the total BasePay?**

In [8]:
sal['BasePay'].sum()

9819151073.590002

**What is the highest amount of overtime pay?**

In [9]:
sal['OvertimePay'].max()

245131.88

**What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).**

In [11]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

**How much does JOSEPH DRISCOLL make (including benefits)?**

In [12]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

**What is the name of highest paid person (including benefits)?**

In [15]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

**What was the average (mean) BasePay of all employees per year? (2011-2014) ?**

In [18]:
sal.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

**Replace all the missing values in the Benefits column with 0**

In [19]:
sal['Benefits'].fillna(0, inplace=True)

In [20]:
sal[sal['Id']==4620]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
4619,4620,MIGUEL HERRERA,SENIOR CONSTRUCTION INSPECTOR,99961.0,27042.9,0.0,0.0,127003.9,127003.9,2011,NaN,San Francisco,NaN

**How many unique job titles exist in the dataframe?**

In [21]:
sal['JobTitle'].nunique()

2159

In [22]:
sal['JobTitle'].unique()

array(['GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY',
       'CAPTAIN III (POLICE DEPARTMENT)',
       'WIRE ROPE CABLE MAINTENANCE MECHANIC', ..., 'Conversion',
       'Cashier 3', 'Not provided'], dtype=object)

**What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [24]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].min()][['EmployeeName', 'TotalPayBenefits']]

       EmployeeName  TotalPayBenefits
148653    Joe Lopez           -618.13

**What are the top 5 most common jobs?**

In [26]:
sal['JobTitle'].value_counts().head()

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

**How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)**

In [31]:
sum(sal[sal['Year']==2013]['JobTitle'].value_counts()==1)

202

**How many people have the word Chief in their job title?**

Hint: Use lambda expression here

In [34]:
def chiefString(title):
    if 'chief' in title.lower():
        return True
    else:
        return False
    

sal[sal['JobTitle'].apply(lambda x: chiefString(x))]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,0.00,326373.19,326373.19,2011,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.00,8601.00,189082.74,0.00,316285.74,316285.74,2011,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.90,134426.14,0.00,315981.05,315981.05,2011,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,0.00,303427.55,303427.55,2011,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.00,0.00,17115.73,0.00,302377.73,302377.73,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
138011,138012,Sharon C Jackson,Chief Deputy Adlt Probation Of,56660.18,0.00,0.00,566.61,56660.18,57226.79,2014,NaN,San Francisco,NaN
139620,139621,Anita S Lee,Chief Clerk,38598.86,0.00,0.00,386.00,38598.86,38984.86,2014,NaN,San Francisco,NaN
139709,139710,George D Vaughan,Chief Nursery Specialist,27319.47,483.90,0.00,10334.67,27803.37,38138.04,2014,NaN,San Francisco,NaN
140080,140081,Patrick W Gillespie,Chief Preparator,24091.00,0.00,0.00,10176.77,24091.00,34267.77,2014,NaN,San Francisco,NaN
140156,140157,Christopher L Ochoa,Chief Stationary Engineer,24392.00,418.71,0.00,8918.44,24810.71,33729.15,2014,NaN,San Francisco,NaN

In [35]:
sum(sal['JobTitle'].apply(lambda x: chiefString(x)))

627