In [3]:
import pandas as pd
import numpy as np

**Creating a series using a Numpy array**

In [5]:
myList = ['a', 'b', 'c', 'd']
myArr = np.array(myList)
myArr

array(['a', 'b', 'c', 'd'], dtype='<U1')

In [6]:
myArr[2]

'c'

In [8]:
mySeries = pd.Series(myArr)

In [9]:
mySeries

0    a
1    b
2    c
3    d
dtype: object

In [10]:
mySeries[3]

'd'

**Creating a series using a dictionary**

In [11]:
myDict = {'a':10, 'b':20, 'c':30}
myDict

{'a': 10, 'b': 20, 'c': 30}

In [12]:
myDSeries = pd.Series(myDict)
myDSeries

a    10
b    20
c    30
dtype: int64

In [13]:
myDSeries['b']

20

**Creating a series of in built functions**

In [14]:
pd.Series(data=[sum, print, len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

**Creating a series with our own labels**

In [15]:
myData = [1,2,3,4]
myLabels = ['a','b','c','d']

In [34]:
mySer = pd.Series(data=myData, index=myLabels)
mySer

a    1
b    2
c    3
d    4
dtype: int64

In [19]:
#Accessing the data using the index
mySer['b']

2

In [21]:
#Accessing the data using the index position
mySer[1]

2

**Arithmetic operations on two series**

In [22]:
ser1 = pd.Series([1,2,3,4],index = ['USA', 'Germany','USSR', 'Japan'])
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [24]:
ser2 = pd.Series([1,2,5,4],index = ['USA', 'Germany','Italy', 'Japan']) 
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [29]:
ser1+ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

In [26]:
ser1-ser2

Germany    0.0
Italy      NaN
Japan      0.0
USA        0.0
USSR       NaN
dtype: float64

In [27]:
ser1*ser2

Germany     4.0
Italy       NaN
Japan      16.0
USA         1.0
USSR        NaN
dtype: float64

In [30]:
ser1/ser2

Germany    1.0
Italy      NaN
Japan      1.0
USA        1.0
USSR       NaN
dtype: float64